# dependencies
node_modules/

# production build
build/

# vercel local data
.vercel/

# env files
.env*

# logs & cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
coverage/

# OS / editors
.DS_Store
.history/
.vscode/
.idea/
